body {
    color: gray;
    font-size: 12pt;
}

h1 {
    color: red;
    opacity: 0.2;
    font-size: 10pt;
    margin-top: -20px;
    margin-bottom: 0px;
    text-align: right;
}

p {
    font-size: 100pt;
    margin: 10px;
    color: #9f9f9f
}

a {
    color: blue;
    text-decoration: none;
}

.form-control::-webkit-input-placeholder {
    color: #9f9f9f;
    font-size: 0.9em;
}

/* for Firefox */
.form-control::-moz-placeholder {
    color: #9f9f9f;
    font-size: 0.9em;
}

/* for Firefox 18以前 */
.form-control:-moz-placeholder {
    color: #9f9f9f;
    font-size: 0.9em;
}

/* for Windows IE */
.form-control:-ms-input-placeholder {
    color: #9f9f9f;
    font-size: 0.9em;
}

.form-control::placeholder {
    color: #9f9f9f;
    font-size: 0.9em;
}