{% load static %}
<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
        <!--
        <link rel="stylesheet" type="text/css"
        href="{% static 'hello/css/style.css' %}"/>
        -->

    </head>
    <body class="container">
      <form method="POST" action="{% url 'create_account' %}">
          {% csrf_token %}
          <table class="table mt-3">
            <tr>
                <th>ユーザーID</th>
                <td>{{form.username}}</td>
                <td>{{ form.username.errors }}</td>
            </tr>
            <tr>
                <th>パスワード</th>
                <td>{{form.password1}}</td>
                <td>{{form.password1.errors}}</td>
        　  </tr>
            <tr>
                <th>パスワード（確認）</th>
                <td>{{form.password2}}</td>
                <td>{{form.password2.errors}}</td>
        　  </tr>
            <tr>
                <th></th>
                <td>
                    <input type="submit" value="登録" class="btn btn-primary mt-2"></input>
                </td>
            </tr>
          </table>
      </form>
    </body>
</html>