{% load static %}
<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
        <!--
        <link rel="stylesheet" type="text/css"
        href="{% static 'hello/css/style.css' %}"/>
        -->

    </head>
    <body class="container">
      <p id="Timer" class="display-4 text-primary">03:00</p>
      
      <form name="timer">
        {% csrf_token %}
        {{formset}}
        <input type="text" value="3">分
        <input type="text" value="0">秒<br>
        <input type="button" value="スタート" onclick="cntStart()"  class="btn btn-primary mt-2">
        <input type="button" value="ストップ" onclick="cntStop()"  class="btn btn-primary mt-2">
      </form>
        <script src='../../static/timer/js/timer.js'>
          
        </script>
      

    </body>
    
</html>