{% load static %}
<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
        <!--
        <link rel="stylesheet" type="text/css"
        href="{% static 'hello/css/style.css' %}"/>
        -->

    </head>
    <body class="container">
      <p id="Timer" class="display-4 text-primary">00:00:00</p>
      <form name="title">
        <div style="display:inline-flex">
          {{TitleForm}}{% csrf_token %}
        </div>
      </form>

      <form name="timerset" method="post"> 
        <div id="number" hidden>{{num}}</div>
        {% for form in TimerForm %}
          <br>
          <div style="display:inline-flex">
            {{form.id}}
            {{form}}
            <td>&nbsp;&nbsp;</td>
            <input type="submit" formaction="{% url 'timer' minus %}" name="minus_{{forloop.counter}}" value="-">
          </div>
          <br>
          <input type="submit" formaction="{% url 'timer' plus %}" name="plus_{{forloop.counter}}" value="+">
        {% endfor %}
        {{ TimerForm.management_form }}
        {% csrf_token %}
          <br>
          
        <input id="start" type="button" value="スタート" onclick="Start()"  class="btn btn-primary mt-2">
        <input id="stop" type="button" value="ストップ" onclick="Stop()"  class="btn btn-primary mt-2">
      </form>

        <script src='../../static/timer/js/new_timer.js'>
          
        </script>
      

    </body>
    
</html>