{% extends 'timer/layout.html' %}

{% block content %}
      <audio id="start_sound">
        <source src="../../static/timer/sound/Start.mp3">
      </audio>
      <audio id="stop_sound">
        <source src="../../static/timer/sound/Stop.mp3">
      </audio>
      <audio id="mute_sound">
        <source src="../../static/timer/sound/Mute.mp3">
      </audio>
      <form action="{% url 'use' %}" method="post">
        {% csrf_token %}
        {{TimerSelectForm}}
        <input type="submit" formaction="{% url 'use' %}" name="choice" value="選択" class="btn btn-primary mt-2"> 
      </form>
      <div style="text-align: right;float: right;">
        <br><br>
        <details>
          <summary>グラフイメージを表示</summary>
        <canvas id="PieChart"  height="300"></canvas>
　　　　　　　　<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
        </details>
      </div>
      <div style="display:inline-flex">
      <p id="Timer" class="display-4 text-primary"  style="font-family:monospace, serif;">&nbsp;&nbsp;&nbsp;00:00:00</p>
      </div>
      <br>
      <div style="display:inline-flex">
        音量
      <input type="range" id="volume" name="volume" min="0" max="1" step="0.1" value="0">
      <input id="mute" type="button" value="OFF" style="width:1; padding:3px; font-size:15px;" onclick="Mute()"  name="mute" class="btn btn-outline-secondary mt-2">
      </div>
      <details>
        <summary>音声確認（※音量注意）</summary>
          ※iOS等の機種では、音声が上手く再生されない場合があります。
          <input id="stop_sound_test" type="button" style="width:1; padding:3px; font-size:15px;" value="終了音を鳴らす" onclick="Stop_Sound_Test()"  class="btn btn-outline-secondary mt-2">
          <input id="start_sound_test" type="button" style="width:1; padding:3px; font-size:15px;" value="開始音を鳴らす" onclick="Start_Sound_Test()"  class="btn btn-outline-secondary mt-2">
      </details>
      <form name="title">
        <table width="530">
          <div style="display:inline-flex">
            <td>&nbsp;&nbsp;&nbsp;</td>{% csrf_token %}
              <td>{{TitleForm.title}}</td>
              <td>{{TitleForm.hour}}</td>
              <td>{{TitleForm.min}}</td>
              <td>{{TitleForm.sec}}</td>
              <td>{{TitleForm.sound}}</td>
          </div>
        </table>

      </form>

      <form name="timerset" action="{% url 'index' num %}" method="post"> 
        <div hidden>
          <input type="submit" formaction="{% url 'index' num %}" class="btn btn-outline-danger mt-2"> 
        </div>
        <div id="number" hidden>{{num}}</div>
        <div id="current" hidden>0</div>
        <div id="sethour" hidden>0</div><div id="setmin" hidden>0</div><div id="setsec" hidden>0</div><div id="settitle" hidden></div>
        <div id="test" hidden></div>
        &nbsp;&nbsp;&nbsp;
    
        {% for form in TimerForm %}
          <br>
          <div style="display:inline-flex">
            <h3 id="point_{{forloop.counter}}">●</h3>
            {{form.id}}
            {{form}}
          </div>
          <br>
        {% endfor %}
        {{ TimerForm.management_form }}
        {% csrf_token %}
          <br>
          
        <input id="start" type="button" value="スタート" onclick="Start()"  class="btn btn-primary mt-2">
        <input id="stop" type="button" value="ストップ" onclick="Stop()"  class="btn btn-primary mt-2">
        <input id="reset" type="button" value="リセット" onclick="Reset()"  class="btn btn-secondary mt-2">
        <input id="allreset" type="button" value="オールリセット" onclick="allReset()"  class="btn btn-secondary mt-2">
        <input id="clear" type="button" value="オールクリア" onclick="Clear()"  name="clear" class="btn btn-danger mt-2">
        

      </form>
      <h6>
        <br><br>
        <details>
          <summary>使い方ヘルプ</summary>
          <br>
          スタートボタンを押すと一番上のタイマーが起動します。<br>
          そのタイマーが00:00:00になると、直後に次のタイマーが自動的に起動します。<br>
          アラームでは、そのタイマーが00:00:00になった時に鳴らす音を指定できます。<br>
          リセット：&emsp;&emsp;&emsp;現在アクティブなタイマーをセットされている時刻に戻します。再びスタートすると現在アクティブなタイマーが動きます。<br>
          オールリセット：全てのタイマーをセットされている時刻に戻します。再びスタートすると最初のタイマーが動きます。<br>
        </details>
        <br>

        <div hidden>
        <br><br>
        &emsp;&ensp;リセット：&ensp;&emsp;現在アクティブなタイマーをセットされている時刻に戻します。再びスタートすると現在アクティブなタイマーが動きます。<br>
        オールリセット：全てのタイマーをセットされている時刻に戻します。再びスタートすると最初のタイマーが動きます。<br>
      </div>
      </h6>
      <script src='../../static/timer/js/use_timer.js'>
      </script>
      <script src='../../static/timer/js/use.js'>
      </script>
{% endblock %}